{% extends 'base_goods.html' %}
{% block middle %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'food:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ sku.price|floatformat:2 }}</em></span>
				<span class="show_unit">单  位：{{ sku.unite }}</span>
				<span class="show_stock">库存：{{ sku.stock }}--销量：{{ sku.sales }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ sku.price|floatformat:2 }}</em></div>
			<div class="operate_btn">
				{% csrf_token %}
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" sku_id="{{ sku.id }}" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                {% for sku in new_skus %}
					<li>
						<a href="{% url 'food:detail' sku.id %}"><img src="{{ sku.image.url }}"></a>
						<h4><a href="{% url 'food:detail' sku.id %}">{{ sku.name }}</a></h4>
						<div class="prize">￥{{ sku.price|floatformat:2 }}</div>
					</li>
                {% empty %}
					无
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li id="tag_detail" class="active">商品介绍</li>
				<li id="tag_comment">评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ sku.goods.detail }} </dd>
				</dl>
			</div>
            
			<div class="tab_comment" style="display:none;">
				<dl>
					<dt>评论：</dt>
					<dd></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="add_jump"></div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		$(function(){
			//获取商品数量
			var num = parseInt($('.num_show').val())
			//获取商品单价
			var price = parseFloat($('.show_pirze').children('em').eq(0).text())
			$('.add').click(function(){
				num = num + 1
				if(num > {{ sku.stock }}){
					num = {{ sku.stock }}
				}
				$('.num_show').val(num)
				total()
			})

			$('.minus').click(function(){
				if(num>1){
					num = num -1
				}else{
					num = 1
				}
				$('.num_show').val(num)
				total()

			})
			
			function total(){
				//获取商品数量
				var num = parseInt($('.num_show').val())
				//获取商品单价
				var price = parseFloat($('.show_pirze').children('em').eq(0).text())
				//计算总价
				var total = num*price
				$('.total').children('em').eq(0).text(total.toFixed(2))
			}

		    //手动输入商品数量
			$('.num_show').blur(function(){
				//获取用户输入的数量
				num = $(this).val()
		        //校验count是否合法
		  		if(isNaN(num) || num.trim().length == 0 || parseInt(num) <= 0){
					num = 1
				}
				$(this).val(parseInt(num))
				total()
			})		


		    //商品介绍和评论的div切换
		    $('#tag_detail').click(function(){
				$(this).addClass('active')
		        $('#tag_comment').removeClass('active')
		        $('.tab_content').css('display', 'block')
				$('.tab_comment').css('display', 'none')
			})	

			$('#tag_comment').click(function(){
				$(this).addClass('active')
				$('#tag_detail').removeClass('active')
				$('.tab_comment').css('display', 'block')
				$('.tab_content').css('display', 'none')
			})	
		
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;

			$('#add_cart').click(function(){
				//获取商品id和商品数量
				sku_id = $(this).attr('sku_id')
				count = $('.num_show').val()
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
				params = {'sku_id': sku_id, 'count': count, 'csrfmiddlewaretoken': csrf}
				$.post('/cart/add/', params, function(data){
					if(data.res == 5){
						$('.add_jump').css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
						$('.add_jump').stop().animate({
							'left': $to_y + 7,
							'top': $to_x + 7
						},
						'slow', function(){
							$('.add_jump').fadeOut('fast', function(){
								$('#show_count').html(data.total_count);
							});
						});
					}
					else if(data.res == 0){
						alert(data.errmsg)
					}
				})
			})

		})
	    
	</script>
	
{% endblock %}
