<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.session.js"></script>
    <script>
        //$(function(){
        //    console.info($.cookie('my_cookie'))
        //      console.info($.session.get('vericationcode'))
        //})
        window.onload = function(){
          //sessionStorage.setItem('name','laowang')
           alert(document.cookie)
          //console.info(sessionStorage.getItem('name'))
          //console.info(typeof sessionStorage.getItem('name'))
        }
    </script>
</head>
<body>

</body>
</html>