{% extends 'base_goods.html' %}
{% block middle %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'food:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>


	<div class="main_wrap clearfix">
			{% if query %}
				<ul class="goods_type_list clearfix">
					<h3>搜索结果如下： </h3>
		            {% for result in page.object_list %}
					<li>
						<a href="{% url 'food:detail' result.object.id %}"><img src="{{ result.object.image.url }}"></a>
						<h4><a href="{% url 'food:detail' result.object.id %}">{{ result.object.name }}</a></h4>
						<div class="operate">
							<span class="prize">{{ result.object.price }}</span>
							<span class="unit">{{ result.object.unite }}</span>
							<a href="#" class="add_goods" title="加入购物车"></a>
						</div>
					</li>
		            {% endfor %}
				</ul>

				<div class="pagenation">
		            {% if page.has_previous %}
							<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; 上一页</a>
					{% endif %}
				    |
					{% if page.has_next %}
						<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页 &raquo;</a>
					{% endif %}
				</div>
			{% endif %}
	</div>
	<script>
		$(function(){
			$.get('/cart/count/', function(data){
				$('#show_count').text(data.total_count)
			})
		})
	</script>
{% endblock %}
