<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑英雄</title>
</head>
<body>
<form action="/myhero/hero_add/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>名称</td>
            <td><input type="text" name="hname"/></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="hage"/></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <input type="radio" value="1" name="hgender"/>男
                <input type="radio" value="0" name="hgender"/>女
            </td>
        </tr>
        <tr>
            <td>简介</td>
            <td>
                <textarea name="hdesc" style="width: 240px; height: 100px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>图片</td>
            <td>
                <input type="file" name="hpic"/>
            </td>
            <td>
                <span name="upload_error" style="color: red;"/>{{ upload_error }}</span>
            </td>
        </tr>
        <tr>
            <td>所属书</td>
            <td>
                <select name="hbook_id">
                    <option value="0">---------------</option>
                    {% for book in book_list %}
                        <option value="{{ book.id }}">{{ book.bname }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="保存"/></td>
        </tr>
    </table>
</form>
</body>
</html>