<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英雄列表</title>
</head>
<body>
    <ul>
        {% for hero in hero_list %}
        <li>
            {{ hero.hname }}&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/myhero/hero_delete/{{ hero.id }}">删除</a>
            <a href="/myhero/hero_edit/{{ hero.id }}">编辑</a>
        </li>
        {% endfor %}
    </ul>
    {% if page_obj.has_previous %}
        <a href="/myhero/hero_list?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <span>{{ i }}</span>
        {% else %}
            <a href="/myhero/hero_list?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="/myhero/hero/{{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
</body>
</html>