{% extends "echarts/index.html" %}
{% block right %}
<div id="main" style="width: 600px;height: 400px;"></div>
<script>
    function get_graph(){
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '不同省份的商品平均销量'
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataZoom : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            tooltip: {},
            legend: {},
            dataset: {
                source: arr
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {},
            series: [{
                name: '平均销量',
                type: 'bar',
            }]

        };
        myChart.setOption(option);
    }

    var arr = []

    function get_data() {
        $.ajax({
            url: '/echarts/get_province/',
            type: 'GET',
            dataType: 'JSON',
            data: {},
            success: function (data) {
                for(var i=0;i<data.my_list.length;i++)
                {
                    arr.push( data.my_list[i])
                }

                get_graph()
            },
            error: function () {
                alert("服务器出错了");
            }
        });
    }
    get_data()

</script>
{% endblock %}