/* CSS Document */
products{  
font-size:80%; margin:0.5em; font-family:Verdana; display:block;}
product{
display:block; border:1px solid silver; margin:0.5em; padding:0.5em; background-color:whitesmoke;}
name,price,stock,country{ display:block; }
name{
color:red; text-decoration:underline;}
price{ color:red; }
stock{ color:brown; }
country{ color:blue; }
#p4{ text-align:right; }
.special{ background-color:mistyrose; }
